@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<div class="jumbotron">
    <h1>SMS World Wide Messaging.NET</h1>
    <p class="lead">Send Messages Anywhere in the World </p>
    <p>@Html.ActionLink("To Register Please Click here", "Register", "Register")</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>What we Offer</h2>
        <p>Once Registered you can add your contacts details send a message from your display board<p>
        <p> Or once Registered and logged in just send a message disrectly</p>
    </div>
 
</div>