body{

}
select.error, TextBoxFor.error, input.error {
    color:#FF0000;
}

   .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: white !important;
        }

    .asteriskField {
        color: red;
    }

    .form-group{
        margin-left:40%;

    }


   #RegisterLink{
       margin-left:40%;
       color:green;
   }
   #Title{

       margin-left:20%;
       color:green;

   }